{% extends "layout.html" %}

{% block content %}
<form 
    action="/search"
    method="post"
    enctype="application/x-www-form-urlencoded"
>
    <div class="ui action input">
        <input name ="search" type="text" placeholder="Search...">
        <!-- this will send post req w/ data in the body in key-value pairs -->
        <!-- key - "search" and value will be whatever user entered into this input element -->
        <button type="submit" class="ui button">Search</button>
    </div>
</form>


{% for product in results %}

<div class="ui card">
    <div class="content">
      <div class="header">{{ product.title }}</div>
      <div class="meta">{{ product.mainCat }}</div>
      <div class="description">
        <p>{{ product.description}}</p>
        <p>{{ product.price }}</p>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock %}